body{
    font-size: 15px;
    
}

.Welcome{
    background-image: url(Assets/del.image1.jpg);
    height:700px;
    text-align: center;
    padding-top: 15%;
    background-size: cover;
    color: white;   
}
.About{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    
}
.Service{
    background-image: url(Assets/del.image3.jpg);
    background-size: cover;
    height: 500px;
    text-align: center;
    padding-top: 10%;
    color: white;
    padding-bottom: 10%;
}
.What h2{
    
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.What-we-do{
    display: flex;
    justify-content:space-around;
    text-align: center;
    /* column-gap: 70px; */
}
.Container1{
    display: flex;
    margin-bottom: 50px;
    gap: 30px;
    justify-content: center;
}
.Container2{
    display: flex;
    margin-bottom: 50px;
    gap: 30px;
    justify-content: center;
}
#Port{
    margin-bottom: 10px;
}
#Port h2{
    text-align: center;
    padding-bottom: 15px;
}
.Contact{
    background-image: url(Assets/del.image7.jpg);
    background-size: cover;
    color: white;
    height:600px ;
    text-align:center;
}
#email{
    /* width: 50px; */
}
.container{
    display: flex;
    padding-left: 30%;
    gap: 10px;
    background: transparent;
}
.C{
    display: flex;
    column-gap: 10px;
    
}
form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 20%;
    
}
.button{
    width:150px;
    background: transparent;
}
#message{
    height: 300px;


}
.footer{
    height: 200px;
    text-align: center;
    
}
.icons{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-top: 40px;

}
.del{
    padding-top: 20px;
}

    

    
    
    



